@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-cipria: #fdf2f0;
  --color-gold: #c5a059;
  --color-gold-light: #e2c999;
}

@layer base {
  body {
    @apply font-sans text-stone-800 bg-white;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif;
  }
}
